body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: black;
  height: 100vh;
  overflow: hidden;
  position: relative;

}

.container {
  width: 400px;
  height: 620px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  touch-action: none;
}

canvas {
  background-color: rgb(1, 1, 36);
  touch-action: none;
}

.valueDisplay {
  margin-left: 30px;
  margin-right: auto;
  color: white;
  padding-top: 10px;
}

.Slider {
  margin-left: 30px;
  margin-right: auto;
  touch-action: none;

}